.main {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toolbar {
    display: flex;
    flex: 1;
    height: 100vh;
    flex-direction: column;
}

.browser {
    display: flex;
    flex: 2;
    height: 100vh;
    flex-direction: column;
}

.browser {
    cursor: pointer !important;
}

.browserBar {
    padding: 5px 10px;
}

.urlInput {
    max-width: 500px;
    width: 100%;
    margin-right: 10px;
}
